<div class= "container">
<h1>Welcome to CaTinder!</h1>
<%= image_tag "catinder-logo.png" %>

<h2>Pets start here.</h2>

<p>Who is Meow, and who is Not-Meow? You decide!</p>

<a href="/cats?random=true">get started ></a>

<br>
<%= image_tag "cat-cool.jpg" %>
<%= image_tag "cat-curious.jpg" %>
<%= image_tag "cat-cute.jpg" %>
<%= image_tag "cat-handsome.jpg" %>
<%= image_tag "cat-love.jpg" %>
<%= image_tag "cat-hate.jpg" %>
</div>